@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;    
}
.profile-card{

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background:#fff;
    border-radius: 24px;
    padding:25px;
    box-shadow: o 5px 10px rgba(0, 0, 0, 1);
    position: relative;
    
}
.profile-card::before{
    content: '';
    position: absolute;
    height: 36%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 24px 24px 00;
    background-color: #4070f2;
}
.image{
    position: relative;
    height:150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f2;
    padding: 3px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    background-color: #4070f2;
    text-decoration: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 18px;
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
    
}
.buttons .button{
    background-color: #4070f2;
    padding: 8px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s ease;
    
}
.buttons .button:hover{
    background-color: #0e4bf1;
}